<section class="container">
  @for(item of baseStructure; track item.id){
  <mat-expansion-panel class="panel" [expanded]="true">
    <mat-expansion-panel-header
      expandedHeight="3.5rem"
      collapsedHeight="3.5rem"
      class="panel-header"
    >
      <mat-panel-title class="panel-title">
        {{ item.name }}
      </mat-panel-title>

      <mat-panel-description class="panel-description">
        {{ item.date | date : "shortDate" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      @for(link of item.links; track link.title){
      <li class="panel-item">
        <a
          class="panel-link"
          [routerLink]="link.url"
          [fragment]="link?.fragment"
        >
          {{ link.title }}
        </a>
      </li>
      }
    </ul>
  </mat-expansion-panel>
  }
</section>
