@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #0057b8;
  --color-accent: #ffd700;

  --font-main: "Merriweather", serif;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
}

p {
  margin: 0;
}

.container {
  padding: 2rem;
}

a.active-link {
  background-color: #ffd70026;
}

.active-link .mdc-list-item__primary-text {
  font-weight: 500;
  color: var(--color-primary);
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }
}
